.flex {
  display: flex;
}

.inline-block {
  display: inline-block;
}

.text-center {
  text-align: center;
}

.margin-auto {
  margin: 0 auto;
}

.uppercase {
  text-transform: uppercase;
}

.capitalize {
  text-transform: capitalize;
}

.border-none {
  border: none;
}

.rounded-full {
  border-radius: 50%;
}
