@font-face{
	font-family: JosefinSans;
	font-display: swap;
	src: url("../fonts/JosefinSans-Medium.woff2") format("woff2"), url("../fonts/JosefinSans-Medium.woff") format("woff");
	font-weight: 500;
	font-style: normal;
}
@font-face{
	font-family: JosefinSans;
	font-display: swap;
	src: url("../fonts/JosefinSans-Bold.woff2") format("woff2"), url("../fonts/JosefinSans-Bold.woff") format("woff");
	font-weight: 700;
	font-style: normal;
}
